.checkout-item {
    width: 100%;
    display: flex;
    min-height: 100px;
    padding: 15px 0;
    font-size: 20px;
    align-items: center;
    
    @media screen and (max-width: 800px) {
      font-size: 13px;
    }
  
    .image-container {
      width: 23%;
      padding-right: 15px;
  
      img {
        width: 100%;
        height: 100%;
      }
    }
    .name,
    .quantity,
    .price,
    .establishment {
      width: 23%;
    }
  
    .quantity {
      display: flex;
  
      .value {
        margin: 0 10px;
      }
  
      @media screen and (max-width: 800px) {
        .value {
          margin: 0 5px;
        }
      }
    }
  
    .edit-button {
      margin-right: 12px;
      cursor: pointer;
    }
  }