.collection-item {
  width: 22vw;
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: center;
  position: relative;

  .image {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
  }



  .custom-button {
    width: 80%;
    opacity: 0.7;
    position: absolute;
    top: 255px;
    display: none;

    @media screen and (max-width: 800px){
      display: block;
      opacity: 0.9;
      min-width: unset;
      padding: 0 10px 0 10px;
    }
  }

  &:hover {
    .image {
      opacity: 0.8;
    }

    .custom-button {
      opacity: 0.85;
      display: flex;
    }
  }

  @media screen and (max-width: 800px){
    width: 40vw;

    &:hover {
      .image {
        opacity: unset;
      }
  
      .custom-button {
        opacity: unset;
        display: flex;
      }
    }
  }

  .collection-footer-1 {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;

    .name{
      width: 92%;
      margin-bottom: 15px;
    }

    .price {
      width: 8%;

      @media screen and (max-width: 800px) {
        width: 12%;
      }
    }
  }

  .collection-footer-2 {
    width: 100%;
    height: 5%;
    display: flex;
    margin-top: 5px;
    justify-content: space-between;
    font-size: 18px;

    .establishment {
      width: 30%;
      font-size: smaller;

      @media screen and (max-width: 800px) {
        width: 40%;
        font-size: small;
      }
    }

    .rate {
      width: 13%;
      font-size: smaller;
      
      @media screen and (max-width: 800px) {
        width: 22%;
        font-size: small;
      }
    }

    .favoris{
      width: 30%;
      font-size: smaller;
      cursor: pointer;

      &:hover{
        text-decoration: underline;
      }

      @media screen and (max-width: 800px) {
        text-decoration: underline;
        width: 34%;
        font-size: small;
      }
    }
  }
}
