.order-page {
    width: 65%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto 0;
  
    .order-header {
      width: 100%;
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid darkgrey;
  
      .header-block {
        text-transform: capitalize;
        width: 50%;

        &:first-child {
          margin-left: 60px;
          width: 33%;
        }
        &:last-child {
          width: 12%;
        }

        @media screen and (max-width: 800px) {
          width: 25%;
          font-size: 11px;
          margin-left: 8px;
          
          &:first-child {
            margin-left: 2px;
          }

          &:last-child {
            width: 12%;
            margin-right: 17px
          }
        }
      }
    }

    .order-body{
      width: 100%;
      padding: 10px 0;
      margin-top: 5px;
      border: 1px solid darkgrey;

      .date{
        font-size: 20px;
        @media screen and (max-width: 800px) {
          font-size: 14px;
        }
      }
      .status{
        font-size: 20px;
        @media screen and (max-width: 800px) {
          font-size: 14px;
        }
      }
    }
  
    .total {
      margin-top: 30px;
      margin-left: auto;
      font-size: 36px;

      @media screen and (max-width: 800px) {
        font-size: 24px;
      }
    }
  }