.profile-page {
    width: 60%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto 0;

    .title {
      font-size: 28px;
      margin: 0 auto 30px;
    }

    .profile-content {
      width: 100%;
      padding: 10px 0;
      margin-top: 5px;
      text-align: center;
      border: 1px solid darkgrey;
    }
}