.rate {
    width: 13%;
    font-size: smaller;
    
    @media screen and (max-width: 800px) {
      width: 18%;
    }
  }

.comment{
    width: 100%;
    padding: 10px 0;
    margin-top: 5px;
    border: 1px solid darkgrey;
}