.modal {
    font-size: 12px;
  
  .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
  }
 .content {
    width: 100%;
    padding: 10px 5px;
  }
 .actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}