.search {
    -webkit-appearance: none;
    padding: 3px;
    width: 140px;
    font-size: smaller;
    margin-top: -15px;

    @media screen and (max-width: 800px){
        width: 110px;
    }

    .input-search{
        width: 100%;
        align-items: center;
    }
}