.checkout-page {
    width: 60%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto 0;

    .title {
      font-size: 38px;
      margin: 0 auto 30px;
    }
    
    .checkout-header {
      width: 100%;
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid darkgrey;
  
      .header-block {
        text-transform: capitalize;
        width: 50%;

        &:first-child {
          margin-left: 50px;
          width: 40%;
        }
        &:last-child {
          width: 12%;
        }

        @media screen and (max-width: 800px) {
          width: 25%;
          font-size: 11px;
          margin-left: 8px;
          
          &:first-child {
            margin-left: 2px;
          }
        }
      }
    }
  
    .total {
      margin-top: 30px;
      margin-left: auto;
      font-size: 36px;
      @media screen and (max-width: 800px) {
        font-size: 24px;
      }
    }
  }
  