.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  @media screen and (max-width: 800px){
    height: 60px;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .logo-container {
    height: 85px;
    width: 85px;
    padding: 15px;
    text-indent: 125%;
    white-space: nowrap;
    overflow: hidden;
    background-image: url('../../assets/logo-food-85px.png');

      @media screen and (max-width: 800px){
        background-image: url('../../assets/logo-food-50px.png');
        height: 50px;
        width: 50px;
        padding: 0px;
      }
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    @media screen and (max-width: 800px){
      width: 80%;
    }

    .option {
      padding: 10px 15px;
      cursor: pointer;

      @media screen and (max-width: 800px){
        padding: 10px 4px;
        font-size: smaller;
      }
    }
  }
}