.sign-in-and-sign-up{
    width: 850px;
    display: flex;
    justify-content: space-between;
    margin: 30px auto;

    
  @media screen and (max-width: 800px) {
    flex-direction: column;
    width: unset;
    align-items: center;
    > *:first-child {
      margin-bottom: 50px;
      padding: 0px 20px;
    }

    > *:last-child {
      margin-left: 7.5px;
      padding: 0px 20px;
    }
  }
}